{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro</title>

</head>
<body>

<form method="post">
  {% csrf_token %}
  <h2>Crear cuenta</h2>
  <input type="text" name="username" placeholder="Usuario" required>
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Contraseña" required>

  <select name="rol">
    <option value="lector">Lector</option>
    <option value="autor">Autor</option>
  </select>

  <button type="submit">Registrarse</button>
</form>

<a href="/login/">Ya tengo cuenta</a>

</body>
</html>
